<footer>
  <div class="flex">
    <div>
      <p>
        <strong><a href="/" class="nope">Justina Villanueva</a></strong>
      </p>
      <p>product designer</p>
    </div>
    <div>
      <p><strong>email</strong></p>
      <p><a href="mailto:justinavil@gmail.com">justinavil@gmail.com</a></p>
    </div>
    <div>
      <p><strong>social</strong></p>
      <p>
        instagram:
        <a href="https://www.instagram.com/basementsandblastbeats/"
          >@justinavillanueva</a
        >
      </p>
      <p>
        linkedin:
        <a href="https://www.linkedin.com/in/justinavillanueva/"
          >justinavillanueva</a
        >
      </p>
    </div>
  </div>
</footer>
