<footer>
  <nav>
    <h4>Follow Me</h4>
    <ul>
      <li><a href="https://github.com/justinav" target="_blank"><i class="fa fa-x3 fa-github" title="justinav on GitHub"></i></a></li>
      <li><a href="https://linkedin.com/in/justinavillanueva" target="_blank"><i class="fa fa-x3 fa-linkedin-square" title="justinavillanueva on LinkedIn"></i></a></li>
      <li><a href="http://codepen.io/justinav/" target="_blank"><i class="fa fa-x3 fa-codepen" title="justinav on CodePen"></i></a></li>
      <li><a href="https://www.behance.net/justinavilbc16" target="_blank"><i class="fa fa-x3 fa-behance-square" title="justinav on CodePen"></i></a></li>
    </ul>
  </nav>
</footer>
