<header class="pad">
  <a href="/" class="nope"><h1>Justina Villanueva</h1></a>
  <ul>
    <li>97%: Product Designer at Postlight</li>
    <li>03%: band photographer</li>
  </ul>
  <ol>
    <li><a href="http://www.hiphoptimeline.xyz/" target="_blank">hiphoptimeline.xyz</a></li>
    <li><a href="http://www.colorname.xyz/" target="_blank">colorname.xyz</a></li>
    <li><a href="http://blastbeat.us/" target="_blank">basements & blastbeats</a></li>
    <li><a href="mailto:justinavil@gmail.com">email</a></li>
    <li><a href="http://codepen.io/justinav/public/" target="_blank">codepen</a></li>
    <li><a href="https://www.linkedin.com/in/justinavillanueva/" target="_blank">linkedin</a></li>
    <li><a href="/complex">complex <small>(2017)</small></a></li>
    <li><a href="/shuffle">shuffle <small>(2017)</small></a></li>
    <li><a href="/slutist">slutist <small>(2015)</small></a></li>
  </ol>
</header>
