<div class="section">
  <h2>Work</h2>
  <ul>
    <li><a href="/shuffle">Shuffle</a></li>
    <li><a href="/complex">Complex</a></li>
  </ul>
</div>
<div class="section">
  <h2>Personal</h2>
  <ul>
    <li>
      <a href="https://www.hiphoptimeline.xyz/" target="_blank"
        >HipHopTimeline.xyz</a
      >
    </li>
    <li>
      <a href="https://www.colorname.xyz/" target="_blank">Colorname.xyz</a>
    </li>
    <li>
      <a href="http://blastbeat.us/" target="_blank">Basements & Blastbeats</a>
    </li>
  </ul>
</div>
