/*
* Red Theme
*/

.redTheme .header {
  background: red;
  color: white;
}

.redTheme .header .description {
  font-weight: 500;
  margin: 0 auto 2em;
  text-align: center;
}

.redTheme .content,
.redTheme .footer {
  color: red;
}

.redTheme .logo {
  stroke: red;
}

.btn {
  color: #fff;
  background: Red;
}

.btn:hover {
  color: Red;
}
