@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,900');

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body,html {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}

body {
  color: #331e30;
  background: #EBEBEB;
  font: 300 16px/2 'Work Sans', Helvetica, sans-serif;
}

img {
  border: 1em solid rgba(255,255,255,0.5);
  display: block;
  height: auto !important;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover, a:active {
  color: inherit;
  text-decoration: underline;
}

/* Special Links */
a.url, a.url:visited {
  position: relative;
  z-index: 1;
  padding-left: 1em;
}
a.url:before, a.url:visited:before {
  content: '';
  display: block;
  position: absolute;
  background: #ddff0b;
  top: .4em;
  left: 0;
  width: .5em;
  height: .5em;
}

a.url:after {
  content: '\2192';
  padding-left: .5em;
  position: relative;
  top: 1px;
}

a.url:hover:before {
  content: '';
  display: block;
  position: absolute;
  background: #ddff0b;
  top: -.5em;
  left: 0;
  width: calc(100% + 1em);
  height: calc(100% + 1em);
  z-index: -1;
  transition: all 1s;
}

a.url:hover {
  text-decoration: none;
}

.aura-pink {
  background-image: radial-gradient(right, circle, #ff1301, #ef34c3, #ffc5ff, #ffeefe, #ebebeb);
  background-image: -webkit-radial-gradient(right, circle, #ff1301, #ef34c3, #ffc5ff, #ffeefe, #ebebeb);
  background-image: -o-radial-gradient(right, circle, #ff1301, #ef34c3, #ffc5ff, #ffeefe, #ebebeb);
  background-image: -moz-radial-gradient(right, circle, #ff1301, #ef34c3, #ffc5ff, #ffeefe, #ebebeb);
}

.aura-blue{
  background-image: radial-gradient(left, circle, #595af2, #0cccf9, #bcf2e9, #ffc5ff, #ffc5ff, #ebebeb, #ef34c3);
  background-image: -webkit-radial-gradient(left, circle, #595af2, #0cccf9, #bcf2e9, #ffc5ff, #ffc5ff, #ebebeb, #ef34c3);
  background-image: -o-radial-gradient(left, circle, #595af2, #0cccf9, #bcf2e9, #ffc5ff, #ffc5ff, #ebebeb, #ef34c3);
  background-image: -moz-radial-gradient(left, circle, #595af2, #0cccf9, #bcf2e9, #ffc5ff, #ffc5ff, #ebebeb, #ef34c3);
}


/* Navigation */

nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav > ul li {
  display: inline-block;
  padding: 0 1em;
}

/* Header */

h1.site-title {
  padding: 0 1em;
  margin: 0;
  font-weight: 400;
  font-size: 1.2em;
  text-transform: uppercase;
}

.site-header,
.site-footer {
  font-size: 1em;
  width: 100%;
  padding: .5em;
  border-top: 1px solid rgba(0,0,0,0.03);
  border-bottom: 1px solid rgba(0,0,0,0.03);
}

/* Headings & Text */
h2, .h2, h3, .h3, h4, .h4, p, .p {
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}

h2 {
  font-size: 3em;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  font-size: 1.5em;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
  margin-top: 0;
}


/* Alignment & Spacing */

.margin-center {
  margin-right: auto;
  margin-left: auto;
}

.margin-left {
  margin-right: 0;
  margin-left: 0;
}

.text-right {
  text-align: right;
}

.section-container {
  margin-top: 2em;
  margin-bottom: 3em;
}

.container {
  padding: .5em;
}

.cover-section {
  padding: 2em;
}

.container-800 {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.container-400 {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}


/* Transitions */


@-webkit-keyframes colorChange {
  0% { fill: #595af2; }
  25% { fill: #ddff0b; }
  50% { fill: #bcf2e9; }
  75% { fill: #ffc5ff; }
  100% {fill: #ff1301;}
}

@keyframes colorChange {
  0% { fill: #595af2; }
  25% { fill: #ddff0b; }
  50% { fill: #bcf2e9; }
  75% { fill: #ffc5ff; }
  100% {fill: #ff1301;}
}

.logo:hover,
.logo:active,
.logo:focus {
  -moz-animation: colorChange 2s ease infinite alternate;
  -webkit-animation: colorChange 2s ease infinite alternate;
  -o-animation: colorChange 2s ease infinite alternate;
  animation: colorChange 2s ease infinite alternate;
}

/*
*** DESKTOP VIEW
*/

@media screen and (min-width: 920px) {

  .flex {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    align-content: center;
    justify-content: space-between;
  }

  .flex-center {
    align-items: center;
  }

  .flex-start {
    align-items: flex-start;
  }

  .flex-75 {
    width: 75%;
  }

  .flex-50 {
    width: 50%;
  }

  .flex-25 {
    width: 25%;
  }

}

/*
*** TABLET AND MOBILE VIEW
*/
@media screen and (max-width: 919px) {

  h2, .h2, h3, .h3, h4, .h4, p, .p {
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
  }

  .flex {
    display: block;
  }

  .flex-75,
  .flex-50,
  .flex-25 {
    width: 100%;
  }


  .site-header,
  .site-footer,
  .text-right {
    text-align: center;
  }

  img {
    max-width: 500px;
  }

  .logoMobile {
    -moz-animation: colorChange .5s ease infinite alternate;
    -webkit-animation: colorChange .5s ease infinite alternate;
    -o-animation: colorChange .5s ease infinite alternate;
    animation: colorChange .5s ease infinite alternate;
  }
}
