@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,700,900');

/*
*** Colors ***
red: rgba(255, 85, 85, 1);
red-20: rgba(255, 85, 85, .2);
red-10: rgba(255, 85, 85, .1);
blue: rgba(93, 92, 244, 1);
blue-20: rgba(93, 92, 244, .2);
blue-dark: rgba(41, 41, 100, 1);
*/


* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
body,html {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}
body {
  color: #331e30;
  background: #FFFFFF;
  font: 400 16px/1.2 'Work Sans', sans-serif;
}
img {
  display: block;
  height: auto !important;
  margin: 0 auto;
  max-width: 1060px;
  width: 100%;
}
a, a:visited {
  transition: all .2s;
  color: inherit;
  text-decoration: none;
}
a:hover, a:active {
  color: inherit;
  text-decoration: underline;
}


/* NAVIGATION */
.project-description ul > li {
  list-style: none;
  margin-bottom: 10px;
}

.project-description ul > li:before {
  content: '\f061';
  font-family: FontAwesome;
  font-size: 12px;
  margin-right: 5px;
}
ul {
  margin: 0;
  padding:0;
}
nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav > ul li {
  display: inline-block;
  font-size: inherit;
}
.navbar {
  background: #FF5555;
  color: #292964;
  padding: 30px 0 40px;
}
.navbar > nav > ul {
  text-align: center;
  width: 100vw;
}
.navbar li {
  padding: 0 50px;
  font-size: 50px;
  line-height: 1;
}
.social-icons li {
  padding-right: 20px;
}

/* TYPOGRAPHY */
h2 {
  font-size: 50px;
  line-height: 60px;
  font-weight: 800;
  margin-top: 0;
}
h3 {
  font-size: 15px;
  line-height: 30px;
  font-weight: 800;
}
p {
  font-size: 15px;
  line-height: 30px;
}
.project-page p,
.project-page h3 {
  line-height: 1.2;
}
header p,
footer p,
.footer-nav {
  font-size: 12px;
  line-height: 1;
  margin: 0 0 10px;
}
footer li {
  padding-right: 20px;
}
footer .text-right li {
  padding-left: 20px;
  padding-right: 0;
}
.social-icons {
  border-top: 3px solid;
  padding-top: 1em;
  font-size: 30px;
}
.social-icons-footer {
  font-size: 20px;
  margin-bottom: 10px;
}
.social-icons a:hover {
  color: rgba(93,92,244,1);
}
.site-title {
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 0 10px;
}
.page-title {
  position: absolute;
  left: 0px;
  top: 50%;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.external:after {
  content: '\f08e';
  font-family: 'FontAwesome';
  padding-left: 5px;
  font-size: 14px;
}
a.btn {
  background: rgba(93, 92, 244, 1);
  color: rgba(255,255,255,1);
  padding: 8px 20px;
  border-radius: 30px;
  display: inline-block;
  margin-bottom: 1em;
}
a.btn:hover {
  text-decoration: none;
  color: rgba(93, 92, 244,1);
  background: rgba(93, 92, 244, .2);
}

/* ALIGNMENT SPACING */
.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}
.block {
  margin-top: 30px;
  margin-bottom: 60px;
}
.inner {
  margin: auto;
}
.inner-padding {
  padding: 20px;
}
.max-600 {
  max-width: 600px;
}
.row {
  width: 100%;
  margin: auto;
  position: relative;
  display: flex;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
header,
footer {
  display: flex;
  width: calc(100% - 40px);
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
header {
  margin-bottom: 20px;
}
footer{
  margin-bottom: 60px;
}
.flex-wrapper{
  display: flex;
  width: 100%;
}
.flex-50{
  width: 50%;
}
.flex-75 {
  width: 75%;
}
.flex-25 {
  width: 25%;
}
.site-header p {
  color: #5D5CF4;
  font-size: 12px;
  line-height: 12px;
}
.project-page header,
.project-page footer {
  border-bottom: 1px solid #5D5CF4;
}
.project-description {
  padding-left: 20px;
  order: 2;
}

/*
*** COLORS
*/
.project-page {
  color: rgba(93, 92, 244, 1);
  background: rgba(255,255,255,1);
}
.page-blue {
  color: rgba(93,92,244,1);
  background: rgba(93,92,244,0.2);
}
.page-red-20 {
  color: rgba(255,85,85,1);
  background: rgba(255,85,85,.2);
}
.page-red-10 {
  color: rgba(255,85,85,1);
  background: rgba(255,85,85,.1);
}
.page-blue-dark {
  color: rgba(255,255,255,1);
  background: rgba(41, 41, 100, 1);
}

/*
*** SVG
*/
.svg-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
}
.hand-left,
.hand-right {
  width: 200px;
  position: absolute;
  animation: grow 2s infinite alternate;
}
.hand-left {
  left: 30px;
}
.hand-right {
  right: 30px;
}
.logo {
  width: 600px;
  margin: auto;
}
.magicball {
  display: block;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

/*
*** ANIMATIONS
*/
.logo:hover #iris {
  animation: colorMulti 4s infinite alternate;
}
.moon {
  animation: colorPink 4s infinite alternate;
}
@keyframes colorMulti {
  0% { fill: rgba(93,92,244,1); }
  25% { fill: rgba(255,85,85,1); }
  50% { fill: rgba(255,0,0,1);}
  100% { fill: rgba(93,92,244,1); }
}
@keyframes colorPink {
  0% { fill: rgba(255, 85, 85, 1); }
  100% { fill: rgba(255, 105, 180,1) }
}
@keyframes grow {
  0% { width: 200px; }
  100% { width: 190px; }
}


/*
*** TABLET AND MOBILE VIEW
*/
@media screen and (max-width: 800px) {
  .hand-left,
  .hand-right {
    display: none;
  }
  .max-600{
    max-width: 240px;
  }
  .navbar {
    padding: 20px 0 30px;
  }
  .navbar li {
    padding: 0 20px;
    font-size: 15px;
    line-height: 1;
  }
  .project-page .flex-wrapper {
    display: block;
  }
  .flex-75,
  .flex-25 {
    width: 100%;
  }
  .project-description {
    padding: 10px;
  }
  .social-icons li {
    padding-right: 10px;
  }
  h2 {
    font-size: 30px;
    line-height: 40px;
  }
  footer {display: block;}
  footer .flex-50 {
    width: 100%;
    text-align: center;
  }
  footer li,
  footer .text-right li {
    padding: 0 10px;
  }
}
